@model IEnumerable<Core.Dto.ReservationHeaderDto>

@{
    ViewBag.Title = "BillingHistroy";
}



<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
        /*background-color: 003399;*/
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>



<div class="content setTop-margin">
    <div class="container-fluid px-4">
        <div class="content-header">
            <div class="input-group searchGroup col-md-4">
            </div>
     
        </div>

        <div class="main_table">
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card p-3">
                        <!-- /.card-header -->
                        <div class="card-body physicians-table table-responsive p-0">
                            <table id="table" class="table table-hover text-center">
                                <thead>
                                    <tr class="bg-grey">
                                        <th>Email</th>
                                        <th>FirstName</th>
                                        @*<th>Last Name</th>*@
                                        <th>Document Number</th>
                                        <th>Customer PO</th>
                                        <th>TotalRent Amount</th>
                                        <th>Reservation Status</th>
                                        @*<th>City</th>*@
                                        <th>Download Insurance</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                    <tr>

                                        <td>@item.EmailAddress</td>
                                        @*<td>@item.LastName</td>*@
                                        <td>@item.FirstName</td>

                                        <td>@item.DocumentNumber</td>
                                        <td>@item.CustomerPO</td>
                                  
                                        <th>@item.TotalRentAmount</th>
                                        <th>@item.ReservationStatus</th>

                                        <td><a href="@item.Insurance" class="view-btn"><i class="fas fa-download"></i></a></td>
                                        <td><a href="~/Reporting/ReservationDetails?ReservationId=@item.ReservationHdrsId" class="view-btn"><i class="fas fa-eye"></i></a></td>

                                    </tr>
                                        }
                                    }



                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        <!-- row -->
    </div><!-- /.container-fluid -->
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>



    $(document).ready(function () {


        $('#table').DataTable({
            //"scrollY": "68vh",
            //"scrollCollapse": false,
            "searching": true,
            //"paging": true,
            autoWidth: true,
            responsive: true
        });
    });

</script>


